/* Police */

@font-face
{
  font-family: 'raleway-medium';
  src: url('polices/Raleway-Medium.ttf');
  font-family: 'raleway-variable';
  src: url('polices/Raleway-VariableFont.ttf');
}
body
{
  font-family: 'raleway-variable';
}
h1,nav li
{
  font-size: 20px;
}
h2
{
  font-size: 22px;
  color: black;
  font-weight: bold;
}

h3
{
  font-size: 19px;
  color: black;
  font-weight: bold;
  margin: 4px;
  padding-left: 15px;
}
h5
{
  font-size: 19px;
  color: black;
  font-weight: bold;
  padding-left: 140px;
  margin-top: -130px;
  position: absolute;   
}
h6
{
  font-size: 20px;
}

/*HEADER*/

header
{
  display: grid;
  grid-template-columns:repeat (12, 1fr);
  grid-gap: 20px;
}
.logo-reservia
{
  width: 110px;
  height: 50px;
}
.left-part-header
{
  grid-column-end: span 7;
  margin-left: 50px;   
}
.search-localisation 
{
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch; 
}

.icon-gps
{
  width: 50px;
  height: 50px;
  margin-left: 1px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f2f2f2
}
.icon-gps-size
{
  color: black;
  font-size: 20px;
  position: absolute;
  margin-left: 15px;
  margin-top: 15px;

}
input::placeholder
{
  color: black;
}
.input
{
  border-color: #f2f2f2;
  width: 250px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
button
{
  margin-left: -1px;
  width: 130px;
  height: 50px;
  font-size: 17px;
  font-weight: 600;
  line-height: 50px;
  background-color: #0065FC;
  color: #fff;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer; 
}
.search-icon
{
  visibility: hidden;
}
/*FILTER HEADER*/
.filter
{
    display: flex;
    flex-flow: row wrap;
    grid-column: 1/span 7;
}
.categories
{
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    height: 54px;
    border-left: none; 
    margin-left: 30px;
    margin-top: 30px;
}
.icons
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding-left: 15px;
    padding-top:15px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}
.a-filter
{
    text-decoration: none;
    color: #000;
    padding-left: 5px;
    font-weight: bold;
    font-size: 16px;
}
.eco
  {
    width: 185px;
  }
.family
  {
    width: 150px;
  }
.romantique
  {
    width: 175px;
  }
.animal
  {
    width: 225px;
  }
.categories:hover
  {
    border: 2px solid black;
  }
.icons:hover
  {
    background-color: black;
  }
  /*INFO HEADER*/
.info
  {   
    width: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom:5px;
    color:#0065FC;
    font-size: 20px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    line-height: 20px;
    margin-top: -5px;
  }
.info-text
  {
    font-size: 18px;  
    margin-left: 50px;
    margin-top: -25px;
  }
/*Navigation*/

nav{
  grid-column: 11/ 12
}
nav ul
{ 
  padding-top: 20px;
  list-style-type:none; 
  display: flex;
  justify-content: flex-end; 
}
nav li
{
   margin-right: 40px;
}

.inscription
{
  color: #0065FC;
  font-weight: bold;
  padding-right: 50px;
}
nav a
{
  text-decoration: none;
  color:black;
}
nav a:hover
{
  color: #0065FC;
  border-top: 2px solid #0065FC;
  padding-top: 40px;
}
/*SECTIONS MIDDLE RESERVIA*/

.section-up
{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-gap: 10px;
  margin-top: 40px;
}
.simple
{
    color: #0065FC;
    font-size: 13px;
    margin-right: -3px; 
}
.white
{
    color: #f2f2f2;
    font-size: 13px;
    margin-right: -3px;  
}

/*ACCOMODATION*/
.container-accomodation
{
    width: 1081px;
    height: 707px;
    display: flex;
    background-color: #f2f2f2;
    border-radius: 15px;
    display: grid;
    grid-column: 1/8;
    margin-left: 50px;
}
.marseille-rental
{
    width: 810px;
    height: 450px;
    display: flex;
    flex-flow: column wrap;
    border-radius: 8px;
    justify-content: space-around;
    gap: 30px;
    margin-top: -180px;
    margin-left: 90px;
}
#nav-hebe
{
    margin-left: 60px;
    margin-top: 30px;
}
.marseille
{    
    width: 246px;
    height: 204px;
    border-radius: 15px;
    box-shadow: 0 0 8px 3px #d8d7d7;
    background-color: white;
}

.image-marseille
{
    width: 235px;
    height: 120px;
    object-fit:cover;
    border-radius: 8px 8px 0 0;
    margin-top: 4px;
    margin-left: 5px;
}

.p-star
{
    margin-left: 20px;
    margin-top: -12px;
}
.star
{
    margin-top: -14px;
}

.show-more
{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    position: absolute;
    margin-top: 32%;
    margin-left: 70px;
}
           /*MOST POPULAR*/
.container-most-popular
{
  width: 420px;
  height: 707px;
  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
  background-color: #f2f2f2;
  justify-content:space-around;
  margin-right: 250px;
  grid-column: 9/12;
}
.title-popular
{
  text-align: left;
  margin-left: 40px;
}
.logo-popular
{
  font-size: 25px;
  position: absolute;
  margin-left: 350px;
  margin-top: -45px;
}

.popular-rental
{
  width: 345px;
  height: 145px;
  border-radius: 8px;
  box-shadow: 0 0 8px 3px #d8d7d7;
  background-color: white;
  margin-left: 40px;
  margin-bottom: 20px;
}

.image-popular
{
  width: 120px;
  height: 135px;
  border-radius: 8px 0 0 8px;
  margin-top: 5px;
  margin-left: 5px;
}
.text-popular
{
  font-size: 17px;
  margin-left: 140px;
  margin-top: -90px;
}
/*ACTIVITIES*/

.container-activities
{
  width: 1800px;
  height: 600px;
  display: grid;
  grid-column: 1/13;
  margin-top: 50px;
}
.title-activities
{
  margin-left: 50px;
  margin-top: 50px;
}
#nav-act
{
  margin-top: 50px;
}
.h3-activities-rental
{
  margin-top: 15px;
}
.act-port
{
  width: 297px;
  height: 450px;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #d8d7d7;
  grid-column: 1/2;
  margin-left: 50px;

}
.image-port
{
  width: 297px;
  height:390px ;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.act-col1
{
  grid-column: 2/3;
  margin-left: -150px;
}
.act-fort
{
  width: 356px;
  height: 212px;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #d8d7d7; 
}
.image-fort
{
  width: 356px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.act-frioul
{
  width: 356px;
  height: 180px;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #d8d7d7;
  margin-top: 60px;
}
.image-frioul
{
  width: 356px;
  height: 120px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.act-national
{
  width: 310px;
  height: 450px;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #d8d7d7;
  grid-column: 3/4;
  margin-left: -150px;
  margin-top: -5px;
}
.act-col2
{
  grid-column: 4/5;
  margin-left:-150px;
  margin-top: -5px; 
}
.image-national
{
  width: 310px;
  height: 390px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.act-notredame
{
  width: 356px;
  height: 212px;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #d8d7d7;
}
.image-notredame
{
  width: 356px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.act-longchamp
{
  width: 356px;
  height: 212px;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #d8d7d7;
  margin-top: 30px;
}
.image-longchamp
{
  width: 356px;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
/* Footer */

footer a
{
  color: black;
  text-decoration: none;
}
footer a:hover
{
  color: #0065FC;
}
.charters
{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-column: 1/12;
  align-items: center;
  background-color:#f2f2f2c2;
  margin-top: 50px;
}
.about
{
  grid-column: 2/2;
  padding-top: 30px;
}
.house
{
  grid-column: 5/7;
  margin-top: -50px;
}
.assistance
{
  grid-column: 8/8;
  margin-top: -50px;
}
@media screen and (min-width:500px) and (max-width:1480px) {
  body
{
  width: 1228px;
}
/*HEADER*/
header
{
  display: grid;
  grid-template-columns:repeat (3, 1fr);
  grid-gap: 20px;
}
.left-part-header
{
  grid-column: 1/2;
  margin-left: 20px;   
}

/*FILTER HEADER*/
.filter
{
  display: grid;
  grid-column: 1/2;

}
.categories
{
  margin-left: 20px;
  margin-top: 10px;
}

  /*INFO HEADER*/
.info
{   
  margin-top: 30px;
}
  /*Navigation*/

nav
{
  grid-column: 2/3
}
/*SECTIONS MIDDLE RESERVIA*/

.section-up
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  margin-top: 40px;
}
/*ACCOMODATION*/
.container-accomodation
{
  width: 375px;
  height: 1500px;
  background-color: white;
  display: grid;
  grid-column: 1/1;
  margin-left: 0px;
}
#nav-hebe
{
  margin-left: 20px;
}
.marseille-rental
{
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 25px;
  margin-left: 20px;
}
.marseille
{    
  width: 340px;
  height: 200px;
  margin-right: 15px;
  border-radius: 15px;
  box-shadow: 0 0 8px 3px #d8d7d7;
  background-color: white;
  margin-top: 40px;
}
.image-marseille
{
  width: 330px;
  height: 115px;
  object-fit:cover;
  border-radius: 8px 8px 0 0;
  margin-top: 4px;
  margin-left: 5px;
}
.show-more
{
  margin-top: 1570px;
  margin-left: 20px;
}

/*----- MOST POPULAR-----*/
.container-most-popular
{
  width: 375px;
  height: 780px;
  background-color: white;
  grid-column: 2/3;
}
.popular-rental
{
  margin-top: 40px;
}
/*ACTIVITIES*/ 
.title-activities
{
  margin-left: 20px;
}
.container-activities
{
  width: 800px;
  height: 900px;
  grid-column: 1/3;
  display: flex;
  flex-flow: column wrap;
  margin-top: 70px;
}
.mobile-act
{
  width: 340px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 0 8px 3px #d8d7d7;
  margin-top: 40px;
  margin-left: 20px;
}
.mobile-img-act
{
  width: 340px;
  height: 135px;
  border-radius: 15px 15px 0 0;
}
.act-col1
{
  margin-left: 0px;
}
.act-port
{
  margin-left: 20px;
} 
.act-col2
{
  margin-left: 0px;
}
.act-national
{
  margin-top: 135px;
  margin-left: 20px;
}
/*FOOTER*/
footer a
{
  color: black;
  text-decoration: none;
}
footer a:hover
{
  color: #0065FC;
}
.charters
{
  width: 1228px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column: 1/3;
}
.about
{
  grid-column: 1/1;
  padding-left: 20px;
}
.house
{
  grid-column: 2/2;
  margin-top: 0px;
}
.assistance
{
  margin-top: 0px;
  grid-column: 3/3;
}
}

@media screen and (max-device-width:480px) {
  body{
    width: 450px;
    display: grid;
    grid-template-columns: 400px;
  }
  h1{
    margin-top: 150px;
  }
  /*HEADER*/
  header{
    grid-column: 1/1;
  }
  /*NAVIGATION HEADER*/
  nav{
    grid-column: 1/1;
    margin-top: -790px;
  }
  nav ul{
    border-bottom: solid 2px #f2f2f2;
    padding-bottom: 30px;
  }
  nav a:hover{
    border-top: none;
    padding-top: 0px;
    border-bottom: 2px solid #0065FC;
    padding-bottom: 30px;
  }
  .inscription
  {
    margin-top: -90px;
    margin-left: -80px;
    border-bottom: none;
  }
  /*LEFT-PART-HEADER*/
  .left-part-header
  {
    margin-left: 0px;
  }
  button{
  width: 50px;
  height: 50px;
  }
  span{
    visibility: hidden;
  }
  .search-icon
  {
    visibility: visible;
    color: #fff;
    position: absolute;
    margin: 15px -82px;
  }
  /*SECTIONS*/
  .section-up{
    grid-column: 1/1;
    display: flex;
    flex-flow: column-reverse wrap; 
   }
  .container-most-popular
  {
    grid-column: 1/1;
    background-color: #f2f2f2;
    border-radius: 0px;
    margin-left: 5px
  }
  .title-popular
  {
    margin-left: 10px ;
  }
  .popular-rental
  {
    margin-left: 15px;
  }
  .container-activities
  {
    grid-column: 1/1;
    display: flex;
    height: 100%;
  }
  .act-national
  {
    margin-top: 30px ;
  }
  /*FOOTER*/
   .charters
   {
     display: inline-block;
     grid-column: 1/1;
     height: 100%;
   }
   .house
   {
     padding: 5px 15px;
   }
   .assistance
   {
    padding: 5px 15px;
   }
}


