
body
{
  width: 1228px;
}
/*HEADER*/
header
{
  display: grid;
  grid-template-columns:repeat (3, 1fr);
  grid-gap: 20px;
}
.left-part-header
{
  grid-column: 1/2;
  margin-left: 20px;   
}

/*FILTER HEADER*/
.filter
{
  display: grid;
  grid-column: 1/2;

}
.categories
{
  margin-left: 20px;
  margin-top: 10px;
}

  /*INFO HEADER*/
.info
{   
  margin-top: 30px;
}
  /*Navigation*/

nav
{
  grid-column: 2/3
}
/*SECTIONS MIDDLE RESERVIA*/

.section-up
{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px;
  margin-top: 40px;
}
/*ACCOMODATION*/
.container-accomodation
{
  width: 375px;
  height: 1500px;
  background-color: white;
  display: grid;
  grid-column: 1/1;
  margin-left: 0px;
}
#nav-hebe
{
  margin-left: 20px;
}
.marseille-rental
{
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 25px;
  margin-left: 20px;
}
.marseille
{    
  width: 340px;
  height: 200px;
  margin-right: 15px;
  border-radius: 15px;
  box-shadow: 0 0 8px 3px #d8d7d7;
  background-color: white;
  margin-top: 40px;
}
.image-marseille
{
  width: 330px;
  height: 115px;
  object-fit:cover;
  border-radius: 8px 8px 0 0;
  margin-top: 4px;
  margin-left: 5px;
}
.show-more
{
  margin-top: 1570px;
  margin-left: 20px;
}

/*----- MOST POPULAR-----*/
.container-most-popular
{
  width: 375px;
  height: 780px;
  background-color: white;
  grid-column: 2/3;
}
.popular-rental
{
  margin-top: 40px;
}
/*ACTIVITIES*/ 
.title-activities
{
  margin-left: 20px;
}
.container-activities
{
  width: 800px;
  height: 900px;
  grid-column: 1/3;
  display: flex;
  flex-flow: column wrap;
  margin-top: 70px;
}
.mobile-act
{
  width: 340px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 0 8px 3px #d8d7d7;
  margin-top: 40px;
  margin-left: 20px;
}
.mobile-img-act
{
  width: 340px;
  height: 135px;
  border-radius: 15px 15px 0 0;
}
.act-col1
{
  margin-left: 0px;
}
.act-port
{
  margin-left: 20px;
} 
.act-col2
{
  margin-left: 0px;
}
.act-national
{
  margin-top: 135px;
  margin-left: 20px;
}
/*FOOTER*/
footer a
{
  color: black;
  text-decoration: none;
}
footer a:hover
{
  color: #0065FC;
}
.charters
{
  width: 1228px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column: 1/3;
}
.about
{
  grid-column: 1/1;
  padding-left: 20px;
}
.house
{
  grid-column: 2/2;
  margin-top: 0px;
}
.assistance
{
  margin-top: 0px;
  grid-column: 3/3;
}