@font-face
{
font-family: 'playfair-variable';
src:url('polices/Playfair/PlayfairDisplay-VariableFont_wght.ttf');
font-family: 'raleway-variable';
src:url('polices/Raleway/Raleway-VariableFont.ttf');
}

body
{
    font-family: 'raleway-variable';
    width: 375px;}
h1
{
  font-size: 25px;
  margin-top: 130px;
}
h6
{
  font-size: 20px;
}
h2
{
  font-size: 20px;
}
h3
{
  margin-left: 15px;
  margin-top: -0px;
}
h5
{
  font-size: 17px;
  margin-top: -120px;
  margin-left: 150px;
}
/*HEADER*/
.search-localisation 
{
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    margin-top: 5px; 
}

.gps
{
    width: 50px;
    height: 50px;
    margin-left: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #f2f2f2
}
.icone
{ 
    color: black;
    font-size: 20px;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;

}
.input
{
    border-color: #f2f2f2;
    width: 250px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
button
{
    margin-left: -1px;
    width: 50px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    line-height: 50px;
    background-color: #0065FC;
    color: #fff;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer; 
}
.searchicon
{
  font-size: 20px;
  color:white;
  margin-top: 15px;
  position: absolute;
  margin-left: -82px;
}
em
{
  margin-top: 200px;
  visibility: hidden;
}
.filter
{
    display: block;
    justify-content: space-around;
    align-items: flex-start;
}
.filter-media
{
  display: flex;
  flex-flow: column wrap;
  margin-top: -30px;
  margin-bottom: 30px;
}
.catégories
{
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    height: 54px;
    border-left: none; 
    margin-left: 30px;
    margin-top: 10px;
}
.icons
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding-left: 15px;
    padding-top:15px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}
.a-filter
{
    text-decoration: none;
    color: #000;
    padding-left: 5px;
    font-weight: bold;
    font-size: 16px;
}
.eco
  {
    width: 185px;
  }
.fami
  {
    width: 150px;
  }
.roman
  {
    width: 175px;
  }
.animal
  {
    width: 225px;
  }
.catégories:hover
  {
    border: 2px solid black;
  }
.icons:hover
  {
    background-color: black;
  }
.infoss
  {
    display: flex;
    flex-flow: row wrap;
  }
.info
  {   
    width: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom:5px;
    color:#0065FC;
    font-size: 20px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    line-height: 20px;
  }
.info-text
  {
    font-size: 16px;  
    margin-left: 50px;
    margin-top: -30px;
  }
                         /*..........NAVIGATION..........*/

nav ul
{ 
    list-style-type:none;
    display: flex;
    justify-content: right;
    margin-top: -700px;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 20px;
}
nav li
{

}
.nav-ancre
{
  margin-left: 60px;
  font-size: 20px;
}
.inscript
{
    color: #0065FC;
    font-weight: bold;
    margin-top: -70px;
    margin-left: 10px;
}

nav a
{
    text-decoration: none;
    color: black;
    padding-bottom: 20px;

}
nav a:hover
{
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
}
.section-up
{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}
.simple
{
    color: #0065FC; 
}
.white
{
    color: #f2f2f2  
}
/*MIDDLE SECTION*/
.section-up
{
  display: flex;
  flex-flow: column-reverse wrap;
  margin-top: 700px;
}
/*----- MOST POPULAR-----*/
.container2
{
    width: 375px;
    height: 580px;
    display: flex;
    background-color: #f2f2f2;
    flex-flow: column wrap;
}
.title-popular1
{
    text-align: left;
    margin-top: 30px;
    margin-left: 15px;
}
.logo-popular
{
    font-size: 25px;
    position: absolute;
    margin-left: 330px;
    margin-top: -45px;
}

.popular
{
    width: 335px;
    height: 145px;
    border-radius: 8px;
    box-shadow: 0 0 8px 3px #d8d7d7;
    margin-left: 20px;
    margin-bottom: 10px;
}

.imagepopular
{
    width: 120px;
    height: 135px;
    border-radius: 8px 0 0 8px;
    margin-top: 5px;
    margin-left: 5px;
}
.text-popular
{
  font-size: 17px;
  margin-left: 150px;
  margin-top: -15px;
}
/*ACCOMODATION*/
.container1
{
    width: auto;
    display: flex;
    flex-flow: column wrap;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
}
.container1-1
{
    width: 375px;
    height: 1400px;
    margin-top: 10px;
}
.marseille
{    
    width: 340px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 0 8px 3px #d8d7d7;
    background-color: white;
    margin-bottom: 25px;
}
.image-marseille
{
    width: 324px;
    height: 115px;
    object-fit:cover;
    border-radius: 8px 8px 0 0;
    margin: 7px
}
.p-star
{
  font-size: 15px;
  margin-top: -15px;
  margin-left: 15px;
}
.star
{
   margin-top: -11px;
}
.affich
{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-top: -40px;
    margin-left: 15px;
}
/*ACTIVITIES*/

.conteneur3
{
    width: 375px;
    height: 1350px;
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
    margin-left: 15px;
}
.activities
{
  margin-top: 60px;
  margin-left:-210px;
}
.mobile-act
{
  width: 340px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0 0 8px 3px #d8d7d7;
  margin-bottom: 25px; 
}
.mobile-imgact
{
  width: 340px;
  height: 135px;
  border-radius: 15px 15px 0 0;
}
/*FOOTER*/
footer a
{
    color: black;
    text-decoration: none;
}
footer a:hover
{
    color: #0065FC;
}
.pied
{
    background-color:#f2f2f2;
    display: flex;
    flex-flow: column wrap;
    width: 375px;
    height: 485px;
    margin-top: 100px;
    padding-top: 55px;
}
.footer-text
{
  margin-left: 35px;
}


