/*.......... POLICE & TITLES..........*/

@font-face {
	font-family: 'raleway-medium';
	src: url('polices/Raleway-Medium.ttf');
	font-family: 'raleway-variable';
	src: url('polices/Raleway-VariableFont.ttf');
}

body {
	font-family: 'raleway-variable', 'raleway-medium', 'sans-sherif';
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 22px;
	color: black;
	font-weight: bold;
}

h3 {
	font-size: 17.5px;
	color: black;
	font-weight: bold;
	margin: 4px;
	padding-left: 15px;
}

h6 {
	font-size: 20px;
	margin-top: 50px;
}

img {
	object-fit: cover;
}

.contents-header-sections {
	max-width: 1450px;
	margin: 0 auto;
}


/*..........HEADER RESERVIA..........*/

.header-content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
}


/*NAVIGATION MENU*/

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1400px;
	flex-wrap: wrap;
}

.logo-content {
	flex-grow: 0;
	padding-left: 10px;
	order: 0;
}

nav ul {
	list-style-type: none;
	display: flex;
	order: 1;
	justify-content: flex-end;
	margin-left: 51rem;
}

nav li {
	font-size: 18px;
	padding: 27px 30px;
}

.inscription {
	color: #0065fc;
	font-weight: bold;
	padding: 20px 30px;
	align-self: center;
	order: 2;
}

nav a {
	text-decoration: none;
	color: black;
}

nav a:hover {
	color: #0065fc;
}

nav li:hover {
	border-top: 2px solid #0065fc;
	padding-top: 40px;
	margin-top: -15px;
}


/*HEADER-FILTER-SEARCH*/

.subtitle {
	margin-top: -10px;
}

.content-header {
	margin-left: 10px;
}


/*SEARCH-BUTTON*/

.search-button {
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
	margin-top: 5px;
}

.left-search-button {
	width: 50px;
	height: 50px;
	margin-left: 1px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: #f2f2f2;
}

.icone-left-seach {
	color: black;
	font-size: 20px;
	position: absolute;
	margin-left: 15px;
	margin-top: 15px;
}

.input-search-button {
	border-color: #f2f2f2;
	width: 250px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	border: none;
	border-top: 2px solid #f2f2f2;
	border-bottom: 2px solid #f2f2f2;
}

button {
	margin-left: -1px;
	width: 130px;
	height: 50px;
	font-size: 17px;
	font-weight: 600;
	line-height: 50px;
	background-color: #0065fc;
	color: #fff;
	border: none;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	cursor: pointer;
}

.search-icon {
	color: #0065fc;
}


/*FILTER*/

.filter {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

.filter-buble {
	display: flex;
}

.filter-categories {
	display: flex;
	align-items: center;
	margin-left: 30px;
	border: 2px solid #d9d9d9;
	border-radius: 30px;
	height: 50px;
	border-left: none;
}
.filter-icons::before{
	display: inline-block;
	background-color: #deebff;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
	color: #0065fc;
	font-size: 20px;
}

.filter-link {
	text-decoration: none;
	color: #000;
	padding-left: 5px;
	font-weight: bold;
	font-size: 16px;
}

.economique {
	width: 185px;
}

.familly {
	width: 150px;
}

.romantique {
	width: 175px;
}

.animal {
	width: 225px;
}

.filter-categories:hover {
	background-color: #deebff;
}


/*INFOMATION ICON*/

.buble-info {
	width: 30px;
	line-height: 30px;
	border: 2px solid #d9d9d9;
	border-radius: 30px;
}

.info {
	color: #0065fc;
	font-size: 20px;
	padding: 0px 11px;
}

.info-text {
	font-size: 18px;
	margin-left: 50px;
	margin-top: -25px;
}


/*..........HIGH SECTION..........*/

.section-up {
	display: flex;
	justify-content: flex-start;
	margin-top: 40px;
	gap: 55px;
}

.blue-star {
	color: #0065fc;
	font-size: 13px;
	margin-right: -3px;
}

.white-star {
	color: #f2f2f2;
	font-size: 13px;
	margin-right: -3px;
}


/*..........ACCOMODATION..........*/

.container-accomodation {
	width: 885px;
	height: 625px;
	display: flex;
	background-color: #f2f2f2;
	border-radius: 15px;
}

.accomodation-location {
	width: 810px;
	height: 450px;
	display: flex;
	flex-flow: column wrap;
	border-radius: 8px;
	justify-content: space-around;
	margin-top: 80px;
	margin-left: -280px;
	gap: 30px;
}

#nav-hebe {
	margin-left: 40px;
	margin-top: 30px;
}

.accomodation-link {
	text-decoration: none;
}

.marseille {
	width: 246px;
	height: 204px;
	border-radius: 15px;
	box-shadow: 0 0 8px 3px #d8d7d7;
	background-color: white;
}

.image-marseille {
	width: 235px;
	height: 120px;
	border-radius: 8px 8px 0 0;
	margin-top: 4px;
	margin-left: 5px;
}

.block-star {
	margin-left: 20px;
	margin-top: -11px;
	color: black;
}

.star {
	margin-top: -15px;
}

.show-more {
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: black;
	position: absolute;
	margin-top: 560px;
	margin-left: 50px;
}


/*----- MOST POPULAR-----*/

.container-most-popular {
	width: 420px;
	height: 625px;
	display: flex;
	flex-flow: column wrap;
	border-radius: 15px;
	background-color: #f2f2f2;
	justify-content: space-around;
}

.h2-popular {
	margin-top: -0px;
}

.title-popular {
	display: flex;
	justify-content: space-around;
}

.icon-popular {
	font-size: 25px;
}

.popular-link {
	text-decoration: none;
}

.popular-location {
	width: 345px;
	height: 145px;
	border-radius: 8px;
	box-shadow: 0 0 8px 3px #d8d7d7;
	background-color: white;
	margin-left: 40px;
	margin-top: -30px;
}

.popular-rental-title {
	padding-left: 140px;
	margin-top: -130px;
}

.image-popular {
	width: 120px;
	height: 135px;
	border-radius: 8px 0 0 8px;
	margin-top: 5px;
	margin-left: 5px;
}

.text-popular {
	font-size: 17px;
	margin-left: 145px;
	color: black;
}


/*..........ACTIVITIES..........*/

.container-activities {
	overflow: hidden;
	height: 600px;
	display: flex;
	justify-content: left;
	margin-top: 50px;
	margin-bottom: 20px;
}

.activities {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	margin-top: 70px;
	margin-left: -208px;
}

.title-act {
	margin-top: 15px;
}

.activities-link {
	text-decoration: none;
}

.act-port {
	width: 297px;
	height: 450px;
	border-radius: 8px;
	box-shadow: 0 0 6px 3px #d8d7d7;
}

.image-port {
	width: 297px;
	height: 390px;
	border-radius: 8px 8px 0 0;
}

.act-fort {
	width: 340px;
	height: 240px;
	border-radius: 8px;
	box-shadow: 0 0 6px 3px #d8d7d7;
	margin-left: 45px;
}

.image-fort {
	width: 340px;
	height: 185px;
	border-radius: 8px 8px 0 0;
}

.act-frioul {
	width: 340px;
	height: 164px;
	border-radius: 8px;
	box-shadow: 0 0 6px 3px #d8d7d7;
	margin-left: 45px;
	margin-top: 45px;
}

.image-frioul {
	width: 340px;
	height: 110px;
	border-radius: 8px 8px 0 0;
}

.act-national {
	width: 310px;
	height: 450px;
	border-radius: 8px;
	box-shadow: 0 0 6px 3px #d8d7d7;
	margin-left: 45px;
}

.image-national {
	width: 310px;
	height: 390px;
	border-radius: 8px 8px 0 0;
}

.act-notredame {
	width: 346px;
	height: 212px;
	border-radius: 8px;
	box-shadow: 0 0 6px 3px #d8d7d7;
	margin-left: 45px;
}

.image-notredame {
	width: 346px;
	height: 150px;
	border-radius: 8px 8px 0 0;
}

.act-longchamp {
	width: 346px;
	height: 212px;
	border-radius: 8px;
	box-shadow: 0 0 6px 3px #d8d7d7;
	margin-left: 45px;
	margin-bottom: 85px;
}

.image-longchamp {
	width: 346px;
	height: 150px;
	border-radius: 8px 8px 0 0;
}


/*..........FOOTER..........*/

.footer-line {
	background-color: #f2f2f2;
	width: 100%;
	height: 215px;
}

.footer-blocks {
	max-width: 1450px;
	margin: auto;
	padding: 0 3rem;
	display: flex;
}

.title-footer {
	font-size: 19px;
}

.about,
.hebe,
.contact {
	width: 100%;
	padding: 30px 0;
}

footer a {
	color: black;
	text-decoration: none;
}

footer a:hover {
	color: #0065fc;
}


/*RESPONSIVE TABLET*/

@media only screen and (max-width: 1024px) {
	#nav-hebe {
		margin-left: 20px;
	}
	/*HEADER*/
	nav ul {
		margin-left: 11rem;
	}
	.filter-buble {
		flex-wrap: wrap;
	}
	.buble-info {
		margin-top: 20px;
	}
	.animal {
		margin-top: 10px;
	}
	/*SECTIONS*/
	.section-up {
		width: 100%;
		flex-flow: column-reverse wrap;
	}
	/*ACCOMODATION*/
	.title-popular {
		justify-content: space-between;
	}
	.container-accomodation {
		width: 100%;
		height: 1500px;
		background-color: white;
	}
	.accomodation-location {
		width: 0px;
		height: 1350px;
		margin-top: 120px;
		margin-left: -190px;
	}
	.marseille {
		width: 540px;
		height: 200px;
	}
	.image-marseille {
		width: 530px;
		height: 115px;
	}
	.popular-rental-title {
		margin-left: 150px;
	}
	.show-more {
		margin-top: 1500px;
		margin-left: 20px;
	}
	/*----- MOST POPULAR-----*/
	.container-most-popular {
		width: 750px;
		height: 680px;
		background-color: white;
	}
	.popular-location {
		width: 540px;
		margin-left: 100px;
		margin-top: 35px;
	}
	.image-popular {
		width: 250px;
	}
	h5 {
		margin-left: 150px;
	}
	.text-popular {
		margin-left: 290px;
	}
	/*ACTIVITIES*/
	.container-activities {
		height: 1500px;
		display: flex;
		justify-content: flex-start;
		margin-top: 40px;
	}
	.activities {
		display: flex;
		flex-flow: column wrap;
		justify-content: space-around;
		margin-top: 90px;
	}
	.mobile-act {
		width: 540px;
		height: 200px;
		border-radius: 15px;
		box-shadow: 0 0 8px 3px #d8d7d7;
		margin: 15px 0px 15px 100px;
	}
	.mobile-img-act {
		width: 540px;
		height: 135px;
		border-radius: 15px 15px 0 0;
	}
	.act-port {
		margin-left: 100px;
	}
	.act-frioul {
		margin-top: 40px;
	}
	/*FOOTER*/
	.footer-line {
		height: 250px;
	}
	.footer-blocks {
		padding: 0 20px;
	}
	.hebe,
	.contact {
		padding: 30px 30px;
	}
}


/*RESPONSIVE MOBILE*/

@media screen and (max-width: 375px) {
	body {
		margin-left: 0px;
	}
	/*HEADER*/
	.header-content {
		width: 350px;
	}
	/*NAVIGATION-HEADER*/
	.nav-menu {
		width: 100%;
	}
	.logo-content {
		flex-grow: 0;
		padding-left: 10px;
		order: 0;
	}
	nav ul {
		order: 2;
		padding-left: 0px;
		margin-left: 0px;
	}
	nav li {
		border-bottom: 2px solid #f2f2f2;
		padding-bottom: 20px;
		padding-left: 50px;
		padding-right: 40px;
	}
	.inscription {
		order: 1;
	}
	nav li:hover {
		border-bottom: 2px solid #0065fc;
		border-top: none;
		padding-bottom: 20px;
		margin-top: -13px;
	}
	/*HEADER-CONTENT*/
	.search-button {
		margin-top: 20px;
	}
	.input-search-button {
		width: 200px;
	}
	button {
		width: 50px;
		height: 50px;
	}
	span {
		visibility: hidden;
	}
	.search-icon {
		font-size: 20px;
		color: white;
		margin-top: 15px;
		position: absolute;
		margin-left: -82px;
	}
	.filter-categories {
		margin-top: 10px;
	}
	.buble-info {
		margin-top: 20px;
	}
	.info-text {
		margin-top: -40px;
	}
	.section-up {
		width: 100%;
	}
	/*MOST-POPULAR*/
	.container-most-popular {
		background-color: #f2f2f2;
		height: 650px;
		margin-top: 30px;
		width: 375px;
		border-radius: 0px;
	}
	.popular-location {
		width: 335px;
		height: 145px;
		margin-left: 15px;
		margin-top: -30px;
	}
	.image-popular {
		width: 120px;
		height: 135px;
		border-radius: 8px 0 0 8px;
		margin-top: 5px;
		margin-left: 5px;
	}
	.popular-rental-title {
		margin-left: 0px;
	}
	.title-popular {
		justify-content: space-around;
	}
	.h2-popular {
		padding-right: 30px;
	}
	.text-popular {
		margin-left: 140px;
		margin-top: 0px;
	}
	/*ACCOMODATION*/
	.container-accomodation {
		width: 375px;
	}
	.accomodation-location {
		margin-left: -270px;
	}
	.marseille {
		width: 335px;
		height: 200px;
		margin-left: -10px;
	}
	.image-marseille {
		width: 325px;
	}
	/*ACTIVITIES*/
	#nav-act {
		margin-left: 10px;
	}
	.container-activities {
		width: 100%;
		height: 1545px;
		margin-top: 70px;
	}
	.activities {
		flex-flow: column wrap;
		gap: 10px;
		margin-left: -300px;
	}
	.mobile-act {
		width: 335px;
	}
	.mobile-img-act {
		width: 335px;
	}
	/*FOOTER*/
	.footer-line {
		width: 375px;
		height: 600px;
		margin-top: 30px;
	}
	.footer-blocks {
		flex-flow: column wrap;
		margin-left: 0px;
	}
	.about,
	.hebe,
	.contact {
		padding: 30px 0;
	}
}