/* Police */

@font-face
{
    font-family: 'raleway-medium';
    src: url('polices/Raleway-Medium.ttf');
    font-family: 'raleway-variable';
    src: url('polices/Raleway-VariableFont.ttf');
}

h1,nav li
{
  font-family: 'raleway-variable';
  font-size: 20px;
}
h2,h3
{
  font-family: 'raleway-variable';
  font-size: 15px;
  color: black;
}

/*En tête Reservia*/

.header-content
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.logo-content
{
    background-color:lightslategray;
    font-family: 'raleway-variable';
    padding: 35px;

}

/*Navigation*/

nav ul
{ 
  list-style-type:none;
  display: flex;
  justify-content: right;
  background-color: grey;
  padding-top: 35px;
}
nav li
{
  margin-right: 50px;
}

nav a
{
   text-decoration: none;

}
nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/*Milieux du site*/
.section-up
{
display: flex;
flex-flow: row wrap;
justify-content: space-between;
background-color: red;

}

.container1
{ 

}

.marseille
{


}

.container2
{

}

.populaire
{


}

.conteneur3
{
  background-color: red;


}

.act
{


}
/* Pied du site */
.pied
{
background-color:#f2f2f2c2;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
font-family: 'raleway-variable';
}

.propos
{


}



