             /*.......... POLICE & TITLES..........*/

@font-face
{
    font-family: 'raleway-medium';
    src: url('polices/Raleway-Medium.ttf');
    font-family: 'raleway-variable';
    src: url('polices/Raleway-VariableFont.ttf');
}

body
{
    font-family: 'raleway-variable';
}

h1,nav li
{
    font-size: 20px;
}
h2
{
    font-size: 21px;
    color: black;
    font-weight: bold;
}

h3
{
    font-size: 19px;
    color: black;
    font-weight: bold;
    margin: 4px;
    padding-left: 15px;
}
h5
{
    font-size: 19px;
    color: black;
    font-weight: bold;
    padding-left: 140px;
    margin-top: -130px;
    position: absolute;   
}
h6
{
    font-size: 20px;
}
                  /*..........HEADER RESERVIA..........*/

.header-content
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-left: 50px;
}
.logoreservia
{
    width: 110px;
    height: 50px;
}

.logo-content
{   
    display: flex;
    flex-flow: column wrap;
}
.sous-title
{
    margin-top: -10px;
}
.search-localisation 
{
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    margin-top: 5px; 
}

.gps
{
    width: 50px;
    height: 50px;
    margin-left: 1px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #f2f2f2
}
.icone
{ 
    color: black;
    font-size: 20px;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;

}
.input
{
    border-color: #f2f2f2;
    width: 250px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
button
{
    margin-left: -1px;
    width: 130px;
    height: 50px;
    font-size: 17px;
    font-weight: 600;
    line-height: 50px;
    background-color: #0065FC;
    color: #fff;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer; 
}

.searchicon
{
  color:#0065FC;
}
.filter
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.catégories
{
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    height: 54px;
    border-left: none; 
    margin-left: 30px;
}
.icons
{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding-left: 15px;
    padding-top:15px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}
.a-filter
{
    text-decoration: none;
    color: #000;
    padding-left: 5px;
    font-weight: bold;
    font-size: 16px;
}
.eco
  {
    width: 185px;
  }
.fami
  {
    width: 150px;
  }
.roman
  {
    width: 175px;
  }
.animal
  {
    width: 225px;
  }
.catégories:hover
  {
    border: 2px solid black;
  }
.icons:hover
  {
    background-color: black;
  }
.infoss
  {
    display: flex;
    flex-flow: row wrap;
  }
.info
  {   
    width: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom:5px;
    color:#0065FC;
    font-size: 20px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    line-height: 20px;
    margin-top: -5px;
  }
.info-text
  {
    font-size: 18px;  
    margin-left: 50px;
    margin-top: -25px;
  }

                       /*..........NAVIGATION..........*/

nav ul
{ 
    list-style-type:none;
    display: flex;
    margin-top: -340px;
    padding-top: 35px;
    margin-left: 1400px;
}
nav li
{
    margin-right: 50px;
}
.inscript
{
    color: #0065FC;
    font-weight: bold;
}

nav a
{
    text-decoration: none;
    color: black;

}
nav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 40px;
}

                      /*..........HIGH SECTION..........*/

.section-up
{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}
.simple
{
    color: #0065FC; 
}
.white
{
    color: #f2f2f2  
}
                      /*..........ACCOMODATION..........*/

.container1
{
    width: 1081px;
    height: 707px;
    display: flex;
    background-color: #f2f2f2;
    border-radius: 8px;
    margin-left: 50px;
}
.container1-1
{
    width: 810px;
    height: 450px;
    display: flex;
    flex-flow: column wrap;
    border-radius: 8px;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: -240px;
    gap: 30px;

}
#nav-hebe
{
    margin-left: 60px;
    margin-top: 30px;
}
.marseille
{    
    width: 246px;
    height: 204px;
    border-radius: 8px;
    box-shadow: 0 0 8px 3px #d8d7d7;
    background-color: white;
}

.image-marseille
{
    width: 246px;
    height: 120px;
    object-fit:cover;
    border-radius: 8px 8px 0 0;
}

.p-hebe
{
    color: black;
    margin-top: -0px;
    margin-bottom: 25px;
    margin-left: 18px; 
}
.star
{ 
    margin-top: -16px;
    margin-left: 18px;
}

.affich
{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
    position: absolute;
    margin-top: 32%;
    margin-left: 70px;
}
                    /*----- MOST POPULAR-----*/
.container2
{
    width: 420px;
    height: 707px;
    display: flex;
    flex-flow: column wrap;
    border-radius: 8px;
    background-color: #f2f2f2;
    justify-content:space-around;
    margin-right: 250px;
}
.title-popular1
{
    text-align: left;
    margin-top: -10px;
    margin-left: 20px;
}
.logo-popular
{
    font-size: 25px;
    position: absolute;
    margin-left: 350px;
    margin-top: -45px;
}

.popular
{
    width: 345px;
    height: 145px;
    border-radius: 8px;
    box-shadow: 0 0 8px 3px #d8d7d7;
    background-color: white;
    margin-left: 40px;
    margin-bottom: 20px;
}

.imagepopular
{
    width: 120px;
    height: 135px;
    border-radius: 8px 0 0 8px;
    margin-top: 5px;
    margin-left: 5px;
}

.text-popular
{
  font-size: 17px;
  margin-left: 140px;
  margin-top: -90px;
}
                  /*..........ACTIVITIES..........*/

.conteneur3
{
    overflow: auto;
    width: 1900px;
    height: 600px;
    display: flex;
    justify-content: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.activities
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: -200px;
}
.title-act
{
    margin-top: 15px;
}
.act-big
{

    width: 297px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 0 6px 3px #d8d7d7;
}
.image-port
{
    width: 297px;
    height:390px ;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.act-fort
{
    width: 356px;
    height: 212px;
    border-radius: 8px;
    box-shadow: 0 0 6px 3px #d8d7d7;
    margin-left: 45px; 
}
.image-fort
{
    width: 356px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.act-frioul
{
    width: 356px;
    height: 164px;
    border-radius: 8px;
    box-shadow: 0 0 6px 3px #d8d7d7;
    margin-left: 45px;
    margin-top: 75px;
}
.image-frioul
{
    width: 356px;
    height: 110px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.act-national
{
    width: 310px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 0 6px 3px #d8d7d7;
    margin-left: 45px;
}
.image-national
{
    width: 310px;
    height: 390px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.act-notredame
{
    width: 356px;
    height: 212px;
    border-radius: 8px;
    box-shadow: 0 0 6px 3px #d8d7d7;
    margin-left: 45px;
}
.image-notredame
{
    width: 356px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.act-longchamp
{
    width: 356px;
    height: 212px;
    border-radius: 8px;
    box-shadow: 0 0 6px 3px #d8d7d7;
    margin-left: 45px;
    margin-bottom: 85px;
}
.image-longchamp
{
    width: 356px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

              /*..........FOOTER..........*/

footer a
{
    color: black;
    text-decoration: none;
}
footer a:hover
{
    color: #0065FC;
}
.pied
{
    background-color:#f2f2f2;
    display: flex;
    justify-content:flex-start;
    padding-top: 30px;
    height: 215px;
}
.about
{
    padding-left: 50px;
}
.hebe
{
    padding-left: 300px;
}
.contact
{
    padding-left: 400px;
}

@media screen and (min-width: 400px) and (max-width: 1028px)
{
    body
    {
        width: 1228px;
    }
    h1
    {
      margin-top: 50px;
    }
    #nav-hebe
    {
        margin-left: 20px;
    }

    /*HEADER*/
    .header-content
    {
      margin-left: -5px;
    }
    .filter
    {
        display: block;
        justify-content: space-around;
    }
    .filter-media
    {
      display: flex;
      flex-flow: column wrap;
      margin-top: -30px;
      margin-bottom: 30px;
    }
    .catégories
    {
        margin-top: 10px;
    }
    .info
    {
     margin-top: 30px;
    }
    .info-text
      {
        font-size: 16px;  
        margin-top: -30px;
      }
     /*NAVIGATION*/
    
     nav ul
    { 
        margin-top: -670px;
        margin-left: 300px;
    }
    
    /*MIDDLE SECTION*/
    .section-up
    {
      width: 800px;
      flex-flow: row wrap;
    }
     /*ACCOMODATION*/
     .container1
     {
         width: 375px;
         height: 1500px;
         margin-left: -10px;
         background-color: white;
     }
     .container1-1
     {
         width: 375px;
         height: 1350px;
     }
     .marseille
     {    
         width: 340px;
         height: 200px;
         margin-right: 15px;
     }
     .image-marseille
     {
         width: 340px;
         height: 115px;
     }
    /*----- MOST POPULAR-----*/
    .container2
    {
        width: 375px;
        height: 580px;
        margin-right: 40px;
        background-color: white;
        margin-top: 30px;
    }
    .title-popular1
    {
        margin-left: 15px;
    }
    .popular
    {
        margin-left: 15px
    }
    .affich
    {
       margin-top: 1500px;
       margin-left: 20px;
    }

    /*ACTIVITIES*/
    
    .conteneur3
    {
        width: 800px;
        height: 900px;
        display: flex;
        justify-content: left;
        margin-top: 20px;
        margin-left: 5px;
    }
    .activities
    {
      display: flex;
      flex-flow: row wrap;
      margin-top: 70px;
      justify-content: space-around;
      width: 800px;
      margin-left: -230px;
    }
    .mobile-act
    {
      width: 340px;
      height: 200px;
      border-radius: 15px;
      box-shadow: 0 0 8px 3px #d8d7d7;
      margin-bottom: 30px;
    }
    .act-big
    {
        margin-right: -80px;
    }
    .act-national
    {
      margin-top: -258px;
      margin-left: -0px;
      margin-right: -80px;
    }
    .act-longchamp
    {
      margin-right: 430px;
      margin-top: -258px;
    }
    .mobile-imgact
    {
      width: 340px;
      height: 135px;
      border-radius: 15px 15px 0 0;
    }
    /*FOOTER*/
    .pied
    {
        flex-flow: row wrap;
        width: 1028px;
        height: 250px;
        margin-top: 100px;
        padding-top: 55px;
    }
    .about
    {
        padding-left: 10px;
    }
     .hebe
    {
        padding-left: 50px;
    }
    .contact
    {
        padding-left: 70px;
    }

}
